<div class="card" style="width: 35rem;" id = "post_<%=post.id%>">

<span class = "card-title">

</span>

  <span class="card-title">
      <div class = col-md-1>

      </div>
      <div class = col-md-11>
    &nbsp;
    
        <strong class = 'handle-title'>
          <%if post.user.avatar.exists? %>
          <%=link_to post.user  do%>
          <%= image_tag post.user.avatar.url(:thumb), width: '30', height: '30', class: 'avatar-display' %> 

          <%end%>

          <%else%>
          <%=link_to post.user  do%>
          <%= image_tag 'person.svg', width: '30', height: '30', class: 'avatar-display' %> 

          <%end%>
          <%end%>
     &nbsp; <%= link_to "#{post.user.retrieve_handle}", post %>
  

      
      </strong>

      </div>
     
  </span>  

<br>
    <%= image_tag post.image.url(:medium), width: '300', height: '300', class: 'card-img display'%>

  
  

    <div class = "col-md-11">
      <h2 class = 'like-display'>
    <small class = "card-subtitle text-muted">
    <% if post.user_liked_post(current_user) %>
      <%= link_to like_path, method: :patch do%>
        <%= image_tag 'ios-heart.svg', width: 30, height: 30, alt: 'send us your data please'%>
      <%end%>
    <% else %>
      <%= link_to like_path, method: :patch do%>
        <%= image_tag 'ios-heart-outline.svg', width: 30, height: 30, alt: 'send us your data please'%>
      <%end%>
    <% end%> 
  </small>
    
  </h2>
    </div>

  <div class = "col-md-1">
    
  </div>

  <div class = "col-md-11">
      <%if Userlike.where(post: post, state: 'liked').size == 1%>
        <strong><%=Userlike.where(post: post, state: 'liked').size%> like</strong>
      <% else%>
      <strong><%=Userlike.where(post: post, state: 'liked').size%> likes</strong>
      <%end%>  
  </div>

  <div class = "col-md-1">
    
    </div>

    <div class = "col-md-11">
      <small class="card-subtitle text-muted">Updated <%= time_ago_in_words(post.updated_at) %> ago 
  <% if current_user == post.user %>
    | <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'card-link' do%>
      <%= image_tag 'ios-trash-outline.svg', width: 30, height: 30, alt: 'send us your data please'%>
    <%end%>
  <% end %>
  </small>

    </div>
  

   <% post.comments.each do |comment| %>
      <div class = "col-md-1">
        
      </div>

      <div class = "col-md-10">
          <strong> 
            <%=comment.user.retrieve_handle if !comment.message.empty?%> 
            &nbsp;
            &nbsp;
            <small><%=comment.message if !comment.message.empty?%></small>
            <%if comment.user == current_user && !comment.message.empty?%>
      <%= link_to "/comments/#{comment.id}", method: :delete, data: {confirm: 'Are you sure?' } do%>
        <%= image_tag 'ios-close-empty.svg', width: 30, height: 30, alt: 'send us your data please'%>
      <%end%>
     <%end%>

          </strong>
      </div>

      
   <% end %>

 
<br>
  <%= render 'comments/form', :locals => {:post => post, :comment => Comment.new, :url => url}%>
  <br>
</div>
<br>
<br>
<br>
